<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= favicon_link_tag '4favicon.ico' %>
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS</h1>
      <p style='text-align: right; margin-right: 30px;'><%= link_to("Administration", :controller => 'subjects') %></p>
    </div>
    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:subjects => Subject.all.positioned.visible}) %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; <a href='http://muficata.net'>MUFICATA RTDL SL</a> / Ferran Cabrer i Vilagut / 12 Jaume Fabra 08004 Barcelona (CATALONIA)</p>
    </div>
  </body>
</html>
